.container {
  padding: 40px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid #ccc;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .caption {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
